/* font family  */

.lightText {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.regularText {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mediumText {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semiBoldText {
  font-family: "Amaranth", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.boldText {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}

/* font Style  */

.capitalize {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.underLine {
  text-decoration: underline;
}
