/* button  */
.custom-btn {
  border: none;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(97.14deg, #7579FF 7.11%, #B224EF 97.04%);
  border-radius: 32px;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0 0 2px #eee;
          box-shadow: 0 0 2px #eee;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.custom-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  background-image: linear-gradient(97.14deg, #652da0 97.11%, #B224EF 7.04%);
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Input */

.inputContainer {
  margin-bottom: 16px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}
.input {
  border: 1px solid rgba(235, 235, 235, 1);
  background-color: rgba(249, 249, 251, 1);
  border-radius: 12px;
  margin-top: 10px;
  padding: 14px 16px;
}
.inputBox {
  border: none;
  background-color: rgba(249, 249, 251, 1);
  width: 100%;
  outline: none;
  margin-right: 10px;
}
.input img {
  width: 26px;
  height: 26px;
}
::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: rgba(153, 156, 160, 1);
}


/* Loader  */

.loader {
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  border-top: #000000;
  animation: circular-loader 2s linear infinite;
}

@keyframes circular-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
